.home {
    .main-content {
        margin-top: 0;
    }

    .wp-block-post-content {
        section {
            margin-top: 0;
            padding-top: map-get($spacing, 3);
            padding-bottom: map-get($spacing, 3);

        }
    }

    #spotlight {
        .wp-block-post {
            padding: 0;
        }
    }
}