<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"flow"}} -->
<main class="wp-block-group"
	style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)">

	<!-- wp:group {"tagName":"section","layout":{"type":"default"}} -->
	<section id="feature" class="wp-block-group">
		<!-- wp:query {"queryId":1,"query":{"perPage":"1","pages":0,"offset":0,"postType":"report","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"layout":{"type":"default"}} -->
		<div class="wp-block-query"><!-- wp:post-template {"align":"full"} -->
			<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"isDark":false,"align":"center","className":"alignfull","style":{"color":{}}} -->
			<div class="wp-block-cover aligncenter is-light alignfull"><span aria-hidden="true"
					class="wp-block-cover__background has-background-dim"></span>
				<div class="wp-block-cover__inner-container">
					<!-- wp:group {"layout":{"type":"constrained","wideSize":""}} -->
					<div class="wp-block-group"><!-- wp:columns -->
						<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"bottom","width":"60%"} -->
							<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:60%">
								<!-- wp:group {"style":{"spacing":{"padding":{"top":"2rem","right":"2rem","bottom":"2rem","left":"2rem"}}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
								<div class="wp-block-group has-white-background-color has-background"
									style="padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem">
									<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"vivid-red","textColor":"white","fontFamily":"dm-sans"} -->
									<p
										class="has-white-color has-vivid-red-background-color has-text-color has-background has-link-color has-dm-sans-font-family">
										<a href="/reports">Report</a></p>
									<!-- /wp:paragraph -->

									<!-- wp:post-title {"isLink":true} /-->

									<!-- wp:post-excerpt /-->

									<!-- wp:post-author {"showAvatar":false,"byline":"","isLink":true} /-->

									<!-- wp:post-date /-->
								</div>
								<!-- /wp:group -->
							</div>
							<!-- /wp:column -->

							<!-- wp:column {"width":""} -->
							<div class="wp-block-column" id="feature"></div>
							<!-- /wp:column -->
						</div>
						<!-- /wp:columns -->
					</div>
					<!-- /wp:group -->
				</div>
			</div>
			<!-- /wp:cover -->
			<!-- /wp:post-template -->
		</div>
		<!-- /wp:query -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"blockGap":"0px","padding":{"top":"4rem","right":"4rem","bottom":"4rem","left":"4rem"}}},"backgroundColor":"primary","textColor":"white","layout":{"type":"constrained"}} -->
	<section id="about"
		class="wp-block-group has-white-color has-primary-background-color has-text-color has-background has-link-color"
		style="padding-top:4rem;padding-right:4rem;padding-bottom:4rem;padding-left:4rem"><!-- wp:columns -->
		<div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
			<div class="wp-block-column" style="flex-basis:33.33%">
				<!-- wp:heading {"level":1,"textColor":"base","fontFamily":"noto-serif"} -->
				<h1 class="has-base-color has-text-color has-noto-serif-font-family">What is<br>the Quincy Institute?
				</h1>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"66.66%"} -->
			<div class="wp-block-column" style="flex-basis:66.66%">
				<!-- wp:paragraph {"textColor":"base","fontFamily":"dm-sans"} -->
				<p class="has-base-color has-text-color has-dm-sans-font-family"><em><strong>As a research
							institution</strong>, we expose the dangerous consequences of an overly militarized American
						foreign policy and present an alternative approach that promotes local ownership and resolution
						of local issues.</em></p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph {"textColor":"base","fontFamily":"dm-sans"} -->
				<p class="has-base-color has-text-color has-dm-sans-font-family">Learn more about the Quincy Institute.
				</p>
				<!-- /wp:paragraph -->

				<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
				<div class="wp-block-group has-link-color"><!-- wp:paragraph {"fontFamily":"dm-sans"} -->
					<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
							data-type="page" data-id="1116">Our Principles</a></p>
					<!-- /wp:paragraph -->

					<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
					<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
							data-type="page" data-id="1116">Our Principles</a></p>
					<!-- /wp:paragraph -->

					<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
					<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
							data-type="page" data-id="1116">Our Principles</a></p>
					<!-- /wp:paragraph -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"constrained"}} -->
	<section id="spotlight" class="wp-block-group"
		style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
		<!-- wp:heading {"fontFamily":"noto-serif"} -->
		<h2 class="has-noto-serif-font-family">Quincy Spotlight</h2>
		<!-- /wp:heading -->

		<!-- wp:query {"queryId":1,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
		<div class="wp-block-query"><!-- wp:post-template -->
			<!-- wp:group {"tagName":"article","style":{"spacing":{"padding":{"top":"2rem","right":"1rem","bottom":"2rem","left":"1rem"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"primary","textColor":"white","layout":{"type":"flex","orientation":"vertical"}} -->
			<article
				class="wp-block-group has-white-color has-primary-background-color has-text-color has-background has-link-color"
				style="padding-top:2rem;padding-right:1rem;padding-bottom:2rem;padding-left:1rem">
				<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"secondary","textColor":"white"} -->
				<p class="has-white-color has-secondary-background-color has-text-color has-background has-link-color">
					{product type}</p>
				<!-- /wp:paragraph -->

				<!-- wp:post-featured-image /-->

				<!-- wp:post-title /-->

				<!-- wp:post-author {"showAvatar":false,"byline":"","isLink":true} /-->

				<!-- wp:post-date /-->
			</article>
			<!-- /wp:group -->
			<!-- /wp:post-template -->
		</div>
		<!-- /wp:query -->

		<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|gray"}}}},"fontSize":"large"} -->
		<p class="has-text-align-center has-link-color has-large-font-size"><a href="#">All Reports &amp; Briefs</a></p>
		<!-- /wp:paragraph -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"blockGap":"0px","padding":{"top":"4rem","right":"4rem","bottom":"4rem","left":"4rem"}}},"backgroundColor":"primary","textColor":"white","layout":{"type":"constrained"}} -->
	<section id="program-areas"
		class="wp-block-group has-white-color has-primary-background-color has-text-color has-background has-link-color"
		style="padding-top:4rem;padding-right:4rem;padding-bottom:4rem;padding-left:4rem"><!-- wp:columns -->
		<div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
			<div class="wp-block-column" style="flex-basis:33.33%">
				<!-- wp:heading {"level":1,"textColor":"base","fontFamily":"noto-serif"} -->
				<h1 class="has-base-color has-text-color has-noto-serif-font-family">Research at the Quincy Institute
				</h1>
				<!-- /wp:heading -->

				<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
				<p class="has-dm-sans-font-family">Lorem ipsum dolor sit amet consectetur. Eros integer metus imperdiet
					libero in lectus tincidunt dui tincidunt.</p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column {"width":"66.66%"} -->
			<div class="wp-block-column" style="flex-basis:66.66%">
				<!-- wp:paragraph {"textColor":"base","fontFamily":"dm-sans"} -->
				<p class="has-base-color has-text-color has-dm-sans-font-family"><em><strong>OUR RESERACH LOREM
							IPSUM<br></strong></em>Lorem ipsum dolor sit amet consectetur. Eros integer metus imperdiet
					libero in lectus tincidunt dui tincidunt.</p>
				<!-- /wp:paragraph -->

				<!-- wp:paragraph -->
				<p></p>
				<!-- /wp:paragraph -->

				<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"top","justifyContent":"left"}} -->
				<div class="wp-block-group has-link-color">
					<!-- wp:group {"tagName":"article","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"tertiary","textColor":"white","layout":{"type":"flex","orientation":"vertical"}} -->
					<article
						class="wp-block-group has-white-color has-tertiary-background-color has-text-color has-background has-link-color">
						<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
						<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
								data-type="page" data-id="1116">U.S. Grand Strategy</a></p>
						<!-- /wp:paragraph -->
					</article>
					<!-- /wp:group -->

					<!-- wp:group {"tagName":"article","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"tertiary","textColor":"white","layout":{"type":"flex","orientation":"vertical"}} -->
					<article
						class="wp-block-group has-white-color has-tertiary-background-color has-text-color has-background has-link-color">
						<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
						<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
								data-type="page" data-id="1116">Democratizing Foreign Policy</a></p>
						<!-- /wp:paragraph -->
					</article>
					<!-- /wp:group -->

					<!-- wp:group {"tagName":"article","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"tertiary","textColor":"white","layout":{"type":"flex","orientation":"vertical"}} -->
					<article
						class="wp-block-group has-white-color has-tertiary-background-color has-text-color has-background has-link-color">
						<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
						<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
								data-type="page" data-id="1116">Middle East</a></p>
						<!-- /wp:paragraph -->
					</article>
					<!-- /wp:group -->

					<!-- wp:group {"tagName":"article","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"tertiary","textColor":"white","layout":{"type":"flex","orientation":"vertical"}} -->
					<article
						class="wp-block-group has-white-color has-tertiary-background-color has-text-color has-background has-link-color">
						<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
						<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
								data-type="page" data-id="1116">East Asia</a></p>
						<!-- /wp:paragraph -->
					</article>
					<!-- /wp:group -->

					<!-- wp:group {"tagName":"article","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"backgroundColor":"tertiary","textColor":"white","layout":{"type":"flex","orientation":"vertical"}} -->
					<article
						class="wp-block-group has-white-color has-tertiary-background-color has-text-color has-background has-link-color">
						<!-- wp:paragraph {"fontFamily":"dm-sans"} -->
						<p class="has-dm-sans-font-family"><a href="https://quincyinstdev.wpengine.com/our-principles/"
								data-type="page" data-id="1116">Eurasia</a></p>
						<!-- /wp:paragraph -->
					</article>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"light-gray","layout":{"type":"constrained","contentSize":"1140px"}} -->
	<section class="wp-block-group alignfull has-light-gray-background-color has-background" id="events">
		<!-- wp:heading {"fontFamily":"noto-serif"} -->
		<h2 class="has-noto-serif-font-family">Events</h2>
		<!-- /wp:heading -->

		<!-- wp:query {"queryId":2,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
		<div class="wp-block-query"><!-- wp:post-template -->
			<!-- wp:post-title /-->

			<!-- wp:post-date /-->
			<!-- /wp:post-template -->
		</div>
		<!-- /wp:query -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section id="in-news" class="wp-block-group"></section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section id="topics" class="wp-block-group"></section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section id="donate" class="wp-block-group"></section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section id="subscribe" class="wp-block-group"></section>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->