$colors: (
    'primary': var(--wp--preset--color--primary),
    'secondary': var(--wp--preset--color--secondary),
    'tertiary': var(--wp--preset--color--tertiary),
    'gray-dark': var(--wp--preset--color--gray-dark),
    'gray': var(--wp--preset--color--gray),
    'gray-light': var(--wp--preset--color--gray-light),
    'screen': var(--wp--preset--color--screen),
    'black': var(--wp--preset--color--black),
    'white': var(--wp--preset--color--white),
    'type': var(--wp--preset--color--type),
    'yellow-light': var(--wp--custom--color--yellow-light),
    'gray-lightest': var(--wp--custom--color--gray-lightest),
);

$breakpoints: (
	small: 350px,
	mobile: 320px,
	tablet: 720px,
    medium: 930px,
	large: 1120px,
	x-large: 1379px
);

$width: (
    'content': var(--wp--style--global--content-size),
    'wide': var(--wp--style--global--wide-size)
);

$font_sizes: (
    'small': var(--wp--preset--font-size--small),
    'medium': var(--wp--preset--font-size--medium),
    'large': var(--wp--preset--font-size--large),
    'x-large': var(--wp--preset--font-size--x-large),
    'xx-large': var(--wp--preset--font-size--xx-large),
);

$font__sans: var(--wp--preset--font-family--dm-sans);
$font__serif: var(--wp--preset--font-family--noto-serif);
$font__system: var(--wp--preset--font-family--system-font);

$spacing: (
    1: var(--wp--preset--spacing--1),
    2: var(--wp--preset--spacing--2),
    3: var(--wp--preset--spacing--3),
    4: var(--wp--preset--spacing--4),
    20: var(--wp--preset--spacing--20),
    30: var(--wp--preset--spacing--30),
    40: var(--wp--preset--spacing--40),
    50: var(--wp--preset--spacing--50),
    60: var(--wp--preset--spacing--60),
    70: var(--wp--preset--spacing--70),
    80: var(--wp--preset--spacing--80),
);