.ep-autosuggest {
    font-size: 1rem;
    line-height: 1.2;
    
    >ul {
        margin-left: 0;
        padding-left: 0;
    }

   .autosuggest-link {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

    li + li {
        margin-top: .5rem;
    }

}

.wp-block-elasticpress-facet {
    .empty-term {
        display: none;
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
    }
}

.wp-block-tag-cloud {
    font-family: $font__sans;

    a {
        font-size: map-get($font_sizes, 'small') !important;
    }
}

.wp-block-search {
    width: 100%;
}