.ep-autosuggest {
    font-size: 1rem;
    line-height: 1.2;

    >ul {
        margin-left: 0;
        padding-left: 0;
    }

    .autosuggest-link {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }

    li+li {
        margin-top: .5rem;
    }

}

.wp-block-elasticpress-facet {
    .empty-term {
        display: none;
    }

    .inner {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        overflow: auto !important;
    }
}

.facets {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .facet {
        background-color: map-get($colors , 'screen');
        padding: 1rem;
    }

    .ep-checkbox {
        background-color: map-get($colors , 'gray-light');

        &:checked,
        &.checked {
            background-color: map-get($colors , 'secondary');
        }

        &::after {}
    }
}

.wp-block-tag-cloud {
    font-family: $font__sans;

    a {
        font-size: map-get($font_sizes, 'small') !important;
    }
}

.wp-block-search {
    width: 100%;
}